params {
	study_vcfs = "/path/to/study/*.vcf.gz"  // Study VCFs with unphased data. One VCF per chromosome.
	reference_vcfs = "/path/to/reference/*.vcf.gz"  // Reference VCFs with phased data. One VCF per chromosome.
        beagle_cmd = "java -jar -Xms8g -Xmx120g /path/to/beagle.05May22.33a.jar nthreads=8 impute=false window=20.0"  // Beagle jar path and main options
}

process {
	withLabel: PHASING {
		executor = "slurm"
		memory = "128GB"
		time = "24h"
		cpus = 8
		// set additional SLURM cluster options e.g. "--account"
		//clusterOptions = "--account=<your account>"
	}
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "phasing" }
	}
	$local {
		cpus = 1
	}
}
